{{define "title"}}Rangi Dashboard{{end}}
{{define "content"}}
<div class="container">
    <a href="/admin/edit/{{.collection}}/new" class="button is-success">Create New</a>
    <div class="fixed-grid has-1-cols">
        <div class="grid">
            {{block "list" .}}
                {{range initial .items}}
                    <div class="cell">
                        <a href="/admin/edit/{{.collection}}/{{.id}}">{{default "No Title" .title}}</a>
                    </div>
                {{end}}
                {{$last := last .items}}
                {{if $last}}
                    {{$newOffset := len .items}}
                    {{if $.offset}}
                        {{$newOffset = len .items | add $.offset}}
                    {{end}}
                    <div hx-trigger="revealed" hx-get="/admin/{{.collection}}/items?limit={{$.limit}}&offset={{$newOffset}}" hx-swap="afterend" class="cell">
                        <a href="/admin/edit/{{$last.collection}}/{{$last.id}}">{{$last.title}}</a>
                    </div>
                {{end}}
            {{end}}
        </div>
    </div>
</div>
{{end}}