{{define "title"}}Rangi Dashboard{{end}}
{{define "content"}}
<div class="container-fluid">
    <div class="row align-items-center m-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Rangi Dashboard</h1>
            <p class="col-lg-10 fs-4">Paint a self portrait. 🎨</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Ernst_Ludwig_Kirchner%2C_Self-Portrait%2C_1928%2C_NGA_110412.jpg/870px-Ernst_Ludwig_Kirchner%2C_Self-Portrait%2C_1928%2C_NGA_110412.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>
{{end}}