{{define "title"}}Rangi Dashboard{{end}}
{{define "content"}}
<div class="container">
    <div class="columns is-vcentered is-centered">
        <div class="column is-5">
            <p class="title">Rangi Dashboard</p>
            <p class="subtitle">Paint a self portrait. 🎨</p>
        </div>
        <div class="column is-5">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Ernst_Ludwig_Kirchner%2C_Self-Portrait%2C_1928%2C_NGA_110412.jpg/870px-Ernst_Ludwig_Kirchner%2C_Self-Portrait%2C_1928%2C_NGA_110412.jpg" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>
{{end}}