{{define "title"}}Rangi Dashboard{{end}}
{{define "content"}}
<div class="container">
    <form {{if .item.id}}hx-put{{else}}hx-post{{end}}="/admin/{{.collection}}/items">
        {{range .blueprint.Fields}}
            {{if not .Hidden}}
                <div class="field">
                    <label class="label">{{.DisplayName}}</label>
                    {{.Type.EditComponent . $.item}}
                </div>
            {{else}}
            <input type="hidden" name="{{.Name}}" id="{{.Name}}" value="{{index $.item .Name}}">
            {{end}}
        {{end}}
        <button class="button is-success" type="submit">Save</button>
    </form>
</div>
<script src="/admin/static/editor/editor.js"></script>
{{end}}