{{define "title"}}Rangi Login{{end}}
{{define "content"}}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered is-centered">
                <div class="column is-5">
                    <p class="title">Rangi Admin</p>
                    <p class="subtitle">Sign in here to start editing your posts. ❤️</p>
                </div>
                <div class="column is-5">
                    <form hx-post="/admin/login">
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" type="email" name="email" placeholder="Email">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" type="password" name="password" placeholder="Password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button class="button is-success" type="submit">Sign in</button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}