{{define "navbar"}}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item {{if eq ._internalTemplateName `dashboard.html`}} is-selected{{end}}" href="/admin/dashboard">Dashboard</a>
                <div class="navbar-item has-dropdown is-hoverable {{if eq ._internalTemplateName `collection.html`}} is-selected{{end}}">
                    <a class="navbar-link">Collections</a>
                    <div class="navbar-dropdown">
                        {{range ._internalAllCollections}}
                            <a class="navbar-item {{if eq $.collection .Blueprint.CollectionName}} is-selected{{end}}" href="/admin/collections/{{.Blueprint.CollectionName}}">{{.Blueprint.CollectionDisplayName}}</a>
                        {{end}}
                    </div>
                </div>
                <a class="navbar-item {{if eq ._internalTemplateName `settings.html`}} is-selected{{end}}" href="/admin/settings">Settings</a>
            </div>
        </div>
    </div>
</nav>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {
                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);
                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
            });
        });
    });
</script>
{{end}}